<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../styles/HomeTemplate.css">
<title>Home</title>
</head>
<body>

<div class="topnav">
  <a href="updateU.html">Update user data</a>
  <a href="deleteU.html">Delete user</a> 
  <a href="cart.html">Shopping Cart</a> 
  <form name="productForm" method="get" action="http://localhost:8080/Amachon2/Inventory">
  <!-- <input type="text" name="search" placeholder="Search...">-->
  <input type="hidden" id="rm" name="rm" value="GET"/>
  <input type="hidden" id="ind" name="ind" value="no"/>
  <input type="hidden" id="ready" name="ready" value="no"/>
  Search by Category:<select id="category" name="category">
    		<option value="Clothes">Clothes</option>
    		<option value="Electronics">Electronics</option>
    		<option value="Tools">Tools</option>
    		<option value="Furniture">Furniture </option>
    		<option value="All">All</option>
  			</select>
  	<input type="submit" value="Search"/>
  </form>
</div>

<!--  <div class="toptwo">
  <a href=".html">Category</a>
  <a href="nowwhere.html">Category2</a>
</div> -->

<div class="content">
  <h2>Welcome to Amachon!</h2>
  <p>Your favorite online store.</p>
</div> 

<div class="footer">
  <p>Credits and etc.</p>
  <p>JASF 2020</p>
  
</div>
</body>
</html>