<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../styles/HomeTemplate.css">
</head>
<body>
<div id="data"></div>
<div id="comm"></div>
<script>
var xhr = new XMLHttpRequest();
xhr.open("POST", "http://localhost:8080/Amachon2/Inventory"); 
xhr.onload = function(event){ 
    document.getElementById("data").innerHTML = xhr.responseText;
    
    
}; 
var formData = new FormData();
formData.append("rm","GET");
formData.append("ind","yes");
xhr.send(formData);
</script>

</body>
</html>