<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="../styles/HomeTemplate.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class='row'>
<div class='product'>
	
		<div class='column side'>
		<img src="../assets/images/a/camisa.png">
		</div>
		<div class='column middle'>
		<h1>Header</h1>
		<p>category</p><br/>
		</div>
		<div class='column side'>
		<h1>Price</h1>
		<p>In stock:</p><br/>
		</div>
	</div>
</div> 
</body>
</html>